@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #1d4ed8;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin-top: -8px;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  background: #1d4ed8;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  cursor: pointer;
}
.slider::-ms-thumb {
  background: #1d4ed8;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin-top: -9px;
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #3b82f6;
  border-radius: 1.3px;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #3b82f6;
}

.slider::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #3b82f6;
  border-radius: 1.3px;
}

.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.slider:focus::-ms-fill-lower {
  background: #3071a9;
}
.slider::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.slider:focus::-ms-fill-upper {
  background: #367ebd;
}

@font-face {
  font-family: "Opti";
  src: local("Opti"),
    url(./fonts/OPTIStymie-BoldCondensed.otf) format("truetype");
}
@font-face {
  font-family: "Akenaten";
  src: local("Akenaten"), url(./fonts/akenaten.ttf) format("truetype");
}
@font-face {
  font-family: "ChunkFive";
  src: local("ChunkFive"), url(./fonts/ChunkFive-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Devant";
  src: local("Devant"),
    url(./fonts/coolvetica.condensedrg-regular.otf) format("truetype");
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rotating {
  height: 100%;
  max-width: 600px;
  width: 95%;
  min-width: 250px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #1E293B;
  padding: 5px;
}
.rotating:before {
  content: "";
  background-image: conic-gradient(
    #D946EF 30deg,
    transparent 120deg,
    transparent 180deg,
    #D946EF 210deg,
    transparent 300deg,
    transparent 360deg
  );
  height: 1000%;
  width: 1000%;
  position: absolute;
  left: -450%;
  top: -450%;
  animation: rotate 2.5s infinite linear;
}
@keyframes rotate {
  5% {
    transform: rotate(-15deg);
  }
  45% {
    transform: rotate(-165deg);
  }
  55% {
    transform: rotate(-195deg);
  }
  95% {
    transform: rotate(-345deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.rotating-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0F172A;
  border-radius: 5px;
}

.loader {
  color: #D946EF;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
